---
email: "email@email.ru"
login: "@the-best"
name: "Артем"
surname: "Иванов"
phone: '052529292'
---
<html lang='ru'>
<head>
  <title>Profile</title>
  <link rel='stylesheet' href='../../../styles/profile.scss' />
  <link rel='stylesheet' href='../../../styles/baseInput.scss' />
  <link rel='stylesheet' href='../../../styles/baseButton.scss' />
</head>

<body>
  <main>
    <div class='profile'>
      <div class='profile__back'>
        {{>backSlide}}
      </div>
      <div class='profile__content'>
        <div class="profile__avatar">
          <img class="icon" src="../../ui/avatar.png" width="50" height="50" alt="avatar">
            <div>
              <span>{{name}}</span>
              <span>{{surname}}</span>
            </div>
        </div>
        <div class="profile__info">
          <div class="profile__item">
            <span>Почта</span>
            <span class="profile__data">{{email}}</span>
          </div>
          <div class="profile__item">
            <span>Логин</span>
            <span class="profile__data">{{login}}</span>
          </div>
          <div class="profile__item">
            <span>Имя</span>
            <span class="profile__data">{{name}}</span>
          </div>
          <div class="profile__item">
            <span>Фамилия</span>
            <span class="profile__data">{{surname}}</span>
          </div>
          <div class="profile__item">
            <span>Телефон</span>
            <span class="profile__data">{{phone}}</span>
          </div>
        </div>
        <div class="profile__actions">
          <div>{{>baseLink class="link" link="../resetPass/resetPass.hbs" text="Поменять пароль"}}</div>
          <div>{{>baseLink class="link" link="./" text="Выйти"}}</div>
        </div>
      </div>
    </div>
  </main>
</body>

</html>
