<div class="inputItem" data-name={{ name }}>
  <input
      type={{ type }}
      id={{ id }}
      class="inputItem__input"
      placeholder={{ label }}
      name={{ name }}
      value="{{ value }}"
      {{ required }}
      title={{ title }}
  />
  <label for={{ id }} class="inputItem__label">{{ label }}</label>
</div>
